.card {
  width: 50%;
  margin: 0 auto;
  margin-top: 100px;

  &__form {
    width: 100%;
  }
}

.card > mat-card {
  margin: 16px 0;
  display: flex;
  align-items: center;
}

.card > mat-card > span {
  margin-top: 10px;
}
